.backimg{
    border: 1px solid #000;
    background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-work-notes-background-studying-creative-lifestyle-vector-id939498662);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode:lighten;
}

h1{
    font-family: cursive;
    font-size: 120px;
    text-align: center;
}

h2{
  font-family: cursive;
  font-size: 70px;
  text-align: center;
  animation: move-y .5s infinite alternate ease-in-out;
  display: inline-block;
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to{
    transform: translateY(10px);
  }
}

h3{
  font-size: 24px;
  text-align: center;
}

div.block1{
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  padding-right: 0px;
}

.nav {
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    display: flex;
  }
  .nav li {
    position: relative;
    list-style: none;
  }
  .nav li a {
    display: block;
    width: 250px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 2.8;
    background: #0f76f3;
    transition: 0.5s;
    text-decoration: none;
    border-right: 1px solid #eee;
    box-sizing: border-box;
  }
  .nav > li:hover > a {/*layer-1*/
    background: #d4114c;
  }
  
  .nav li ul {
    top: 40px;
    left: -40px;
    position: absolute;
  }
  
  