.backimg{
    border: 1px solid #000;
    background-image: url("img.jpg");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode:lighten;
}

.center{
  margin: 20px auto;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  display: block;
}

.center .left{
  text-align: left;
  display: inline-block;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    text-align: center;
}

h2{
  display: inline-block;
  font-family: serif;
  font-size: 70px;
  animation: move-y .5s infinite alternate ease-in-out;
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to{
    transform: translateY(10px);
  }
}

h3{
  font-size: 24px;
  text-align: center;
  background: #b0c4de;
  box-shadow: 0px 0px 0px 5px #b0c4de;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

.nav {
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    display: flex;
  }
  .nav li {
    position: relative;
    list-style: none;
  }
  .nav li a {
    display: block;
    width: 250px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 2.8;
    background: #0f76f3;
    transition: 0.5s;
    text-decoration: none;
    border-right: 1px solid #eee;
    box-sizing: border-box;
  }
  .nav > li:hover > a {/*layer-1*/
    background: #d4114c;
  }
  
  .nav li ul {
    top: 40px;
    left: -40px;
    position: absolute;
  }
  
  