h1{
    font-family: cursive;
    font-size: 100px;
    text-align: center;
}

.backimg{
    background-image:url("https://www.illust-box.jp/db_img/sozai/00009/98128/watermark.jpg");
}

.mozi{
    background: rgba(255, 255, 255, 0.9);
}