body{
    background-image: url(https://www.illust-box.jp/db_img/sozai/00009/98128/watermark.jpg);
}

.backimg{
    position: relative;
    width: 2000px;
    height: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
}

h1{
    font-family: cursive;
    font-size: 120px;
    text-align: center;
}