.backimg{
    width: 200px;
    height: 150px;
    border: 1px solid #000;
    position: relative;
}

.backrgba{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://www.illust-box.jp/db_img/sozai/00009/98128/watermark.jpg);
    background-size: cover;
    opacity: 0.6;
}

h1{
    font-family: cursive;
    font-size: 120px;
    text-align: center;
}